
body {
    font-family: "メイリオ", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", OSAKA, sans-serif;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0033cc;
}
a:hover, a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    letter-spacing: -1px;
    font-weight: 700;
}

h1 {
    font-size: 1.25em;
    margin: 1em 0;
    letter-spacing: -1px;
    font-weight: 700;
}

h2 {
    font-size: 1.2em;
}

h2, h3, h4 {
    margin-top: 0;
}

h3, h4 {
    margin-bottom: 0.5em;
}

p, ul {
    font-size: 0.8125em;
    line-height: 1.5;
    margin: 0 0 1.5em;
}

code {
    font-size: 1.2727em;
    color: #777;
}

em {
    font-style: normal;
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: darkgreen;
}

.center {
    text-align: center;
}

nav {
    text-align: right;
}

.container {
    margin: 0 auto;
    max-width: 60em;
}

blockquote {
    color: #404040;
    font-size: 90%;
    margin-bottom: 1em;
    padding-left: 0.5em;
    border-left: 3px solid #bbb;
}

footer {
    padding-top: 1em;
    border-top: #888 1px solid;
    color: #404040;
    font-size: 90%;
}

@media only screen and (min-width: 34em) {
    p, ul {
        font-size: 0.875em;
    }
    h1 {font-size: 2.2em;}
    h2 {font-size: 1.6em;}
}

@media only screen and (min-width: 54em) {
    .main {
        float: right;
        width: 75%;
        margin-left: 25%;
    }
    .sub {
        width: 25%; border-left: 1px solid #CCC;
    }
    h1 {font-size: 2.4em;}
    h2 {font-size: 1.7em;}
}

@media only screen and (min-width: 76em) {
    h1 {font-size: 2.8em;}
    h2 {font-size: 1.8em;}
}
