
body {
    font-family: "メイリオ", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", OSAKA, sans-serif;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

header {
    background-color: #333333;
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    padding: 0.5em 0 0.5em 0;
    color: #777777;
}
.header-left {
    width: 33%;
}
.header-right {
    width: 67%;
    text-align: right;
}

article {
    margin: 3.5em 0 1em;
}

#sub {
    display: none;
}

footer {
    padding: 1em 0;
    border-top: #888 1px solid;
    color: #303030;
    font-size: 90%;
}

.container {
    margin: 0 auto;
    max-width: 65em;
}

a {
    text-decoration: none;
    color: #0033cc;
}
a:hover, a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0033cc;
}
nav a {
    color : #ffffff;
}
nav a:hover, nav a:focus {
    color : #44aaff;
    background-color: #333333;
}

p.bottom-nav {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    letter-spacing: -1px;
    font-weight: 700;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.1em;
}

h2, h3, h4 {
    margin-top: 0;
}

h3, h4 {
    margin-bottom: 0.5em;
}

nav, p, ul, ol, dl, code {
    font-size: 0.875em;
}
p, ul, ol, dl {
    line-height: 1.5;
    margin: 0 0 1.5em;
}

footer p {
    margin: 0 0 0.5em;
}

ul {
    list-style: disc;
    margin-left: 2em;
}

ol {
    list-style: decimal;
    margin-left: 2em;
}

em {
    font-style: normal;
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: darkgreen;
}

.center {
    text-align: center;
}

pre, code {
    background-color: #e0e0e0;
    font-family: "Courier New", monospace;
}
pre {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border: 1px solid #a0a0a0;
    overflow: auto;
}
code {
    padding: 1px 3px;
}
pre code {
    padding: 0;
}

blockquote {
    color: #404040;
    font-size: 90%;
    margin-bottom: 1em;
    padding-left: 0.5em;
    border-left: 3px solid #bbb;
}

dt {
    font-weight: 700;
}
dd {
    margin: 0 0 0.5em 2.5em;
}

img {
    max-width: 90%;
    height: auto;
}

.small {display: inline}
.medium {display: none}

@media only screen and (min-width: 34em) {
    nav, p, ul, ol, dl, code {
        font-size: 1em;
    }
    h1 {font-size: 2.0em;}
    h2 {font-size: 1.4em;}
    .medium {display: inline}
    .small {display: none}
}

@media only screen and (min-width: 54em) {
    #main {
        float: right;
        width: 75%;
    }
    #sub {
        display: block;
        width: 22%;
        font-size: 85%;
    }
    #side-navi {
        margin: 2em 0;
        padding: 1em;
        border: 1px solid #969896;
        border-radius: 10px;

    }
    #side-navi ul {
        display: none;
    }
    #side-navi ul.open {
        display: inline-block;
        list-style-position: outside;
        height: 0;
    }
    #side-navi h3, #side-navi h4 {
        margin: 0.3em 0 0 0;
    }
    a.snb:before {
        content: ' ▼ ';
    }
    a.snb.open:before {
        content: ' △ ';
    }
    li.current a{
        color: black;
        font-weight: bold;
    }
    li.current a:hover{
        color: white;
    }
    h1 {font-size: 2.2em;}
    h2 {font-size: 1.5em;}
    h3, h4 {font-size: 1.1em;}
}

@media only screen and (min-width: 76em) {
    h1 {font-size: 2.4em;}
    h2 {font-size: 1.7em;}
    h3, h4 {font-size: 1.2em;}
}

@media print {
    header {
        display: none;
    }
    article {
        margin-top: 1em;
    }
    #sub {
        display: none;
    }
    pre {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #c0c0c0;
        overflow: visible;
    }
}