<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="WiX チュートリアル 日本語訳">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>{{ page.title }}</title>
    <link rel="Shortcut Icon" type="img/x-icon" href="favicon.ico">
</head>

<body>

<!-- HEADER -->
<header>
    <div class="container">
        <nav>
            <a href="/index.html" title="HOME">WiX Tutorial Ja</a>
            &nbsp;&nbsp;
            <a href="/toc.html" title="目次">目次</a>
            {% if page.prev != "none" %}
            &nbsp;&nbsp;
            <a href="{{ page.prev }}.html" title="{{ page.prev-title }}">&laquo; 前へ</a>
            {% endif %}
            {% if page.next != "none" %}
            &nbsp;&nbsp;
            <a href="{{ page.next }}.html" title="{{ page.next-title }}">&raquo; 次へ</a>
            {% endif %}
        </nav>
    </div>
</header>

<!-- ARTICLE -->
<article>
    <div class="container">
        {% if page.current == "home" %}
        <!-- MAIN IMAGE -->
        <div class="row">
            <div class="col center">
                <img id="wix3" src="images/wix3.gif" width="800" height="560"/>
            </div>
        </div>
        {% endif %}

        <!-- MAIN CONTENT -->
        <div class="row">
            <div class="col" id="main">
                <div class="row">
                    <div class="col">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="col" id="sub">
                <div class="row">
                    <div class="col" id="side-navi">
                        <h3>Table of Contents</h3>
                        <ul class="side-navi">
                            <li{% if page.current == "home" %} class="current"{% endif %}>
                            <a href="/index.html" title="HOME">WiX チュートリアル 日本語訳</a>
                            </li>
                            <li{% if page.current == "preface" %} class="current"{% endif %}>
                            <a href="/preface.html" title="前書き">前書き</a>
                            </li>
                            <li{% if page.current == "toc" %} class="current"{% endif %}>
                            <a href="/toc.html" title="目次">目次</a>
                            </li>
                        </ul>
                        <h4>Lesson 1</h4>
                        <ul class="side-navi">
                            <li{% if page.current == "ch01" %} class="current"{% endif %}>
                            <a href="/ch01/index.html" title="Lesson 1">始めよう</a></li>
                            <li{% if page.current == "ch01-01" %} class="current"{% endif %}>
                            <a href="/ch01/01-software-package" title="ソフトウェア・パッケージ">ソフトウェア・パッケージ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- FOOTER  -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>このサイトは、ソースを
                    <a href="https://github.com/wix-tutorial-ja/wix-tutorial-ja.github.com">GitHub</a>
                    でホストされ、
                    <a href="https://pages.github.com">GitHub Pages</a>
                    で公開されています。</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
