<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="Keywords" content="WiX, Windows Installer XML, MSI, Tutorial, Japanese Translation">
    <meta name="Keywords" lang="ja" content="WiX, Windows Installer XML, MSI, チュートリアル, 日本語訳">
    <meta name="Description" content="The Japanese translation of the tutorial on the WiX toolset.">
    <meta name="Description" lang="ja" content="WiX ツールセットのチュートリアル 日本語訳">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>{{ page.title }}</title>
    <link rel="Shortcut Icon" type="img/x-icon" href="favicon.ico">
</head>

<body>

<!-- HEADER -->
<header>
    <div class="container">
        <nav class="row">
            <div class="col header-left">
                <a href="/index.html" title="HOME"><span class="medium">WiX Tutorial Ja</span><span class="small">WiX Tu Ja</span></a>
            </div>
            <div class="col header-right">
                <a href="/toc.html" title="目次">&bull; 目次</a>
                {% if page.prev != "none" %}
                &nbsp;|&nbsp;
                <a href="{{ page.prev }}.html" title="{{ page.prev-title }}">&laquo; 前へ</a>
                {% endif %}
                {% if page.next != "none" %}
                &nbsp;|&nbsp;
                <a href="{{ page.next }}.html" title="{{ page.next-title }}">次へ &raquo;</a>
                {% endif %}
                {% if page.origin != "none" %}
                &nbsp;|&nbsp;
                <a href="https://www.firegiant.com/wix/tutorial{{ page.origin }}">&lowast; 原文</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>

<!-- ARTICLE -->
<article>
    <div class="container" id="page-top">
        {% if page.current == "home" %}
        <!-- MAIN IMAGE -->
        <div class="row">
            <div class="col center">
                <img id="wix3" src="images/wix3.gif" width="800" height="560"/>
            </div>
        </div>
        {% endif %}

        <!-- MAIN CONTENT -->
        <div class="row">
            <div class="col" id="main">
                <div class="row">
                    <div class="col">
                        {{ content }}
                        <p class="bottom-nav">
                            <a href="#page-top" title="ページの先頭へ">&uarr; 先頭</a>
                            &nbsp;|&nbsp;
                            <a href="/toc.html" title="目次">&bull; 目次</a>
                            {% if page.prev != "none" %}
                            &nbsp;|&nbsp;
                            <a href="{{ page.prev }}.html" title="{{ page.prev-title }}">&laquo; 前へ</a>
                            {% endif %}
                            {% if page.next != "none" %}
                            &nbsp;|&nbsp;
                            <a href="{{ page.next }}.html" title="{{ page.next-title }}">次へ &raquo;</a>
                            {% endif %}
                            {% if page.origin != "none" %}
                            &nbsp;|&nbsp;
                            <a href="https://www.firegiant.com/wix/tutorial{{ page.origin }}">&lowast; 原文</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col" id="sub">
                <div class="row">
                    <div class="col" id="side-navi">
                        <h3>Table of Contents</h3>
                        <ul class="side-navi open" id="sn-block-main">
                            <li id="sn-home">
                                <a href="/index.html" title="HOME">HOME</a>
                            </li>
                            <li id="sn-preface">
                                <a href="/preface.html" title="前書き">前書き</a>
                            </li>
                            <li id="sn-toc">
                                <a href="/toc.html" title="目次">目次</a>
                            </li>
                        </ul>
                        <h4><a class="snb" id="sn-btn-ch01"  href="#"> </a>Lesson 1</h4>
                        <ul class="open">
                            <li id="sn-ch01">
                                <a href="/ch01/index.html" title="Lesson 1">始めよう</a>
                            </li>
                        </ul>
                        <ul class="side-navi" id="sn-block-ch01">
                            <li id="sn-ch01-01">
                                <a href="/ch01/01-the-software-package.html" title="ソフトウェア・パッケージ">ソフトウェア・パッケージ</a>
                            </li>
                            <li id="sn-ch01-02">
                                <a href="/ch01/02-the-files-inside.html" title="中に入るファイル">中に入るファイル</a>
                            </li>
                            <li id="sn-ch01-03">
                                <a href="/ch01/03-putting-it-to-use.html" title="使用に供する">使用に供する</a>
                            </li>
                            <li id="sn-ch01-04">
                                <a href="/ch01/04-useful-extras.html" title="便利な追加機能">便利な追加機能</a>
                            </li>
                            <li id="sn-ch01-05">
                                <a href="/ch01/05-where-to-install.html" title="どこにインストールするか">どこにインストールするか</a>
                            </li>
                            <li id="sn-ch01-06">
                                <a href="/ch01/06-conditional-installation.html" title="条件付きインストール">条件付きインストール</a>
                            </li>
                            <li id="sn-ch01-07">
                                <a href="/ch01/07-beyond-files.html" title="ファイルだけでなく">ファイルだけでなく</a>
                            </li>
                            <li id="sn-ch01-08">
                                <a href="/ch01/08-orphaned-on-removal.html" title="削除時の孤児化">削除時の孤児化</a>
                            </li>
                                    </li>
                        </ul>
                        <h4><a class="snb" id="sn-btn-ch02"  href="#"></a> Lesson 2</h4>
                        <ul class="open">
                            <li id="sn-ch02">
                                <a href="/ch02/index.html" title="Lesson 2">ユーザー・インタフェイス</a>
                            </li>
                        </ul>
                        <ul class="side-navi" id="sn-block-ch02">
                            <li id="sn-ch02-01">
                                <a href="/ch02/01-first-steps.html" title="最初のステップ">最初のステップ</a>
                            </li>
                            <li id="sn-ch02-02">
                                <a href="/ch02/02-custom-settings.html" title="カスタムの設定">カスタムの設定</a>
                            </li>
                            <li id="sn-ch02-03">
                                <a href="/ch02/03-ui-wizardry.html" title="UI の魔法">UI の魔法</a>
                            </li>
                            <li id="sn-ch02-04">
                                <a href="/ch02/04-do-you-speak-english.html" title="アナタハ 英語ヲ 話シマスカ">アナタハ 英語ヲ 話シマスカ</a>
                            </li>
                            <li id="sn-ch02-05">
                                <a href="/ch02/05-new-link-in-the-chain.html" title="チェーンの新しい環">チェーンの新しい環</a>
                            </li>
                            <li id="sn-ch02-06">
                                <a href="/ch02/06-think-localized.html" title="地域化を考える">地域化を考える</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- FOOTER  -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Copyright &copy; 2010-2015, <a href="https://github.com/wix-tutorial-ja/">
                    WiX Tutorial Ja</a></p>

                <p>本文書は、Gábor DEÁK JAHN による <a href="https://www.firegiant.com/wix/tutorial/">WiX tutorial</a>
                    を日本語に翻訳したものです。
                    読みやすくて正確な翻訳を目指しましたが、解釈の誤りと技術的な間違いが含まれていないという保証は出来ません。
                    間違いの指摘や修正案の提示を歓迎します。
                    <a href="https://github.com/wix-tutorial-ja/wix-tutorial-ja.github.com">翻訳プロジェクトのレポジトリ</a>
                    をご利用ください。</p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function ($) {
        // 外部リンクを新しいウィンドウで開く
        $('body').on('click', 'a[href^=\"http://\"],a[href^=\"https://\"]', function (event) {
            if (!this.href.match('http://wix-tutorial-ja.github.io/')) {
                window.open(this.href, '_blank');
                event.preventDefault();
            }
        });
        // サイド・ナビ・ブロックの開閉 - 初期状態
        if ('{{ page.current }}'.substr(0, 2) == 'ch') {
            var block = '{{ page.current }}'.substr(0, 4);
            $('#sn-btn-' + block).addClass('open');
            $('#sn-block-' + block).addClass('open');
        }
        // サイド・ナビ・ブロックの開閉
        $('a.snb').on('click', function(event) {
            $('#sn-block-' + this.id.substr(7,4)).toggleClass('open');
            $(this).toggleClass('open');
            event.preventDefault();
        });
        // サイド・ナビのカレント・アイテム
        $('#sn-{{ page.current }}').addClass('current');
    });
    /*]]>*/
</script>
</body>
</html>
