<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="WiX チュートリアル 日本語訳">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        #wix3 {
            max-width: 95%;
            height: auto;
            padding-bottom: 1em;
        }
    </style>
    <title>{{ page.title }}</title>
    <link rel="Shortcut Icon" type="img/x-icon" href="favicon.ico">
</head>

<body>

<div class="container">

    <!-- HEADER -->
    <header class="row">
        <div class="col">
            <h1>WiX チュートリアル 日本語訳</h1>
        </div>
    </header>

    <!-- MAIN IMAGE -->
    <div class="row">
        <div class="col center">
            <img id="wix3" src="images/wix3.gif" width="800" height="560"/>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="row">
        <div class="col main">
            <div class="row">
                <div class="col">
                    {{ content }}
                </div>
                <nav class="col page-link">
                    <p>
                        <a href="/toc.html" title="目次">目次</a>
                        &nbsp;|&nbsp;
                        <a href="{{ page.next }}.html" title="{{ page.next-title }}">&raquo; 次へ</a>
                    </p>
                </nav>
            </div>
        </div>
        <div class="col sub">
            TEST TEST TEST
        </div>
    </div>

    <!-- FOOTER  -->
    <footer class="row">
        <div class="col">
            <p>このサイトは、ソースを
                <a href="https://github.com/wix-tutorial-ja/wix-tutorial-ja.github.com">GitHub</a>
                でホストされ、
                <a href="https://pages.github.com">GitHub Pages</a>
                で公開されています。</p>
        </div>
    </footer>
</div>

</body>
</html>
